<div id="wrapper">
    <!-- Navigation -->
    <app-navbar></app-navbar>
    <!-- /Navigation -->
    <!-- /ControlPanel -->
    <div class="row">
        <div class="col-lg-3">
            <!-- ControlPanel -->
            <app-option [pantalla]="pantalla"></app-option>
            <!-- /.ControlPanel -->
        </div>
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Mis Mazos
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="text-center" style="width: 100%">
                                    <tr>
                                        <td>
                                            <a class="navbar-brand text-success" style="font-weight: bold" [routerLink]="['/mazos']">Mis Mazos</a>
                                        </td>
                                        <td>
                                            <a class="navbar-brand text-black-50" style="font-weight: bold" [routerLink]="['/mazosFavoritos']">Barajas Favoritas</a>
                                        </td>
                                        <td>
                                            <a class="navbar-brand text-black-50" style="font-weight: bold" [routerLink]="['/editorMazos']">Editor Mazos</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <div *ngIf="!loading && !hayMazos" class="alert alert-warning text-center" role="alert">
                                                <p style="font-weight: bold">Aún no has creado mazos propios.
                                                    <BR> <a class="text-info" [routerLink]="['/editorMazos']">Crea tus mazos</a>
                                                </p>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                                <app-loading *ngIf="loading===true" [texto]=texto></app-loading>

                                <div *ngIf="!loading && hayMazos">
                                    <table class="col-lg-12" style="width: 100%">
                                        <thead>
                                            <tr class="table">
                                                <th class="text-center" style="border: 1px solid #ddd;">Nombre</th>
                                                <th class="text-center" style="border: 1px solid #ddd;">Arquetipo</th>
                                                <th class="text-center" style="border: 1px solid #ddd;">Formato</th>
                                                <th class="text-center" style="border: 1px solid #ddd;">Creación</th>
                                                <th class="text-center" style="border: 1px solid #ddd;">Completa</th>
                                                <th class="text-center" style="border: 1px solid #ddd;">Decklist</th>
                                                <th class="text-center" style="border: 1px solid #ddd;">Modifiar</th>
                                                <th class="text-center" style="border: 1px solid #ddd;">Eliminar</th>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="text-center">&nbsp;</td>
                                            </tr>
                                        </thead>

                                        <tr *ngFor="let baraja of barajas; let impar = odd;let par = even;">
                                            <td class="text-left" [ngClass]="{ 'nth-child1': par, 'nth-child2': impar }">
                                                <h5><a target="_blank" [routerLink]="['/cartasMazo', baraja.codMazo ]">{{ baraja.nombre }}</a></h5>
                                            </td>
                                            <td class="text-center" [ngClass]="{ 'nth-child1': par, 'nth-child2': impar }">
                                                <h5><a target="_blank" [routerLink]="['/cartasMazo', baraja.codMazo ]">{{ baraja.arquetipo }}</a></h5>
                                            </td>
                                            <td class="text-center" [ngClass]="{ 'nth-child1': par, 'nth-child2': impar }">
                                                <h5><a target="_blank" [routerLink]="['/cartasMazo', baraja.codMazo ]">{{ baraja.formato }}</a></h5>
                                            </td>
                                            <td class="text-center" [ngClass]="{ 'nth-child1': par, 'nth-child2': impar }">
                                                <h5><a target="_blank" [routerLink]="['/cartasMazo', baraja.codMazo ]">{{ baraja.fecha*1000 | date: 'dd/MM/yyyy' }}</a></h5>
                                            </td>
                                            <td class="text-center" [ngClass]="{ 'nth-child1': par, 'nth-child2': impar }">
                                                <h5><span [ngClass]="{'text-success': baraja.cantidadQueFalta == baraja.cantidadBaraja, 'text-warning': baraja.cantidadQueFalta>=baraja.cantidadBaraja-14 && baraja.cantidadQueFalta<baraja.cantidadBaraja, 'text-danger': baraja.cantidadQueFalta<=baraja.cantidadBaraja-15 }">{{ baraja.cantidadQueFalta }}</span>/
                                                    <span class="text-success">{{ baraja.cantidadBaraja }}</span>
                                                </h5>
                                            </td>
                                            <td class="text-center" [ngClass]="{ 'nth-child1': par, 'nth-child2': impar }">
                                                <h5><a [routerLink]="" (click)="descargaPDF(baraja.codMazo);"><i class="material-icons text-info">picture_as_pdf</i></a></h5>
                                            </td>
                                            <td class="text-center align-middle small" [ngClass]="{ 'nth-child1': par, 'nth-child2': impar }">
                                                <a class="text-info" [routerLink]="['/editorMazos', baraja.codMazo, 'misBarajas']"><i class="material-icons text-info">create</i></a>
                                            </td>
                                            <td class="text-center align-middle small" [ngClass]="{ 'nth-child1': par, 'nth-child2': impar }">
                                                <a class="text-info" [routerLink]="" (click)="eliminaDeck(baraja.codMazo)"><i class="material-icons text-danger">delete</i></a>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-lg-4 (nested) -->
                        <div class="col-lg-8">
                            <div id="morris-bar-chart"></div>
                        </div>
                        <!-- /.col-lg-8 (nested) -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->

    </div>
    <!-- /#page-wrapper -->

</div>

<app-scripts></app-scripts>