<div id="wrapper">
    <!-- Navigation -->
    <app-navbar></app-navbar>
    <!-- /Navigation -->
    <!-- /ControlPanel -->
    <div class="row">
        <div class="col-lg-3">
            <!-- ControlPanel -->
            <app-option [pantalla]="pantalla"></app-option>
            <!-- /.ControlPanel -->
        </div>
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Pantalla Principal
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">

                                <app-loading *ngIf="cargarPagina"></app-loading>

                                <div *ngIf="!cargarPagina">
                                    <table style="width:100%">
                                        <thead>
                                            <tr>
                                                <td colspan="2" class="col-lg-12 text-black-50">
                                                    <hr>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    <table class="col-lg-12">
                                                        <tr *ngIf=" formularioRelleno===false">
                                                            <td class="col-lg-12">
                                                                <p class="alert alert-warning" role="alert" style="font-weight: bold ">Aún no ha introducido cartas en su coleccion por favor introduzca sus cartas.
                                                                    <BR> <a class="text-info " [routerLink]="[ '/coleccion'] ">Añadir cartas a colección</a>
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        <tr *ngIf="formularioRelleno===true">
                                                            <th class="col-lg-4 text-center">Valor total de tú colección:</th>
                                                            <td class="col-lg-2 text-left">
                                                                <h5 class="text-success">{{ importeColeccion | number }} €</h5>
                                                            </td>
                                                            <th class="col-lg-5 text-center">Número total de cartas en tu colección:</th>
                                                            <td class="col-lg-1 text-left">
                                                                <h5 class="text-success">{{ totalCartas | number }}</h5>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="12 " class="col-lg-12 text-black-50 ">
                                                    <hr>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th colspan="2" class="text-center">TOP 3 Arquertipos del último mes</th>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="col-lg-12 text-black-50">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="col-lg-3 text-center">Vintage:</th>
                                                <td class="col-lg-9 text-black-50">
                                                    <ul class="thumbnails thumbnails-1">
                                                        <li class="list-group">
                                                            <div *ngIf="topVintage.length>0" class="list-group-item">
                                                                <span *ngFor="let top of topVintage;">
                                                                        <a [routerLink]="['/arquetipo', 'Vintage', top.arquetipo ]"><h5 style="font-size:0.8em;margin-bottom:0em;">{{ top.arquetipo }} - {{ top.nTotal }} TOPS</h5></a>
                                                                </span>
                                                            </div>
                                                            <div *ngIf="topVintage.length==0" class="list-group-item">
                                                                <h5 class="text-danger">No hay datos de Legacy en estos momentos</h5>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="col-lg-3 text-center">Legacy:</th>
                                                <td class="col-lg-9 text-black-50">
                                                    <ul class="thumbnails thumbnails-1">
                                                        <li class="list-group">
                                                            <div *ngIf="topLegacy.length>0" class="list-group-item">
                                                                <span *ngFor="let top of topLegacy;">
                                                                    <a [routerLink]="['/arquetipo', 'Legacy', top.arquetipo ]"><h5 style="font-size:0.8em;margin-bottom:0em;">{{ top.arquetipo }} - {{ top.nTotal }} TOPS</h5></a>
                                                                </span>
                                                            </div>
                                                            <div *ngIf="topLegacy.length==0" class="list-group-item">
                                                                <h5 class="text-danger">No hay datos de Legacy en estos momentos</h5>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="col-lg-3 text-center">Modern:</th>
                                                <td class="col-lg-9 text-black-50">
                                                    <ul class="thumbnails thumbnails-1">
                                                        <li class="list-group">
                                                            <div *ngIf="topModern.length>0" class="list-group-item">
                                                                <span *ngFor="let top of topModern;">
                                                                    <a [routerLink]="['/arquetipo', 'Modern', top.arquetipo ]"><h5 style="font-size:0.8em;margin-bottom:0em;">{{ top.arquetipo }} - {{ top.nTotal }} TOPS</h5></a>
                                                                </span>
                                                            </div>
                                                            <div *ngIf="topModern.length==0" class="list-group-item">
                                                                <h5 class="text-danger">No hay datos de Modern en estos momentos</h5>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="col-lg-3 text-center">Standard:</th>
                                                <td class="col-lg-9 text-black-50">
                                                    <ul class="thumbnails thumbnails-1">
                                                        <li class="list-group">
                                                            <div *ngIf="topStandard.length>0" class="list-group-item">
                                                                <span *ngFor="let top of topStandard;">
                                                                    <a [routerLink]="['/arquetipo', 'Standard', top.arquetipo ]"><h5 style="font-size:0.8em;margin-bottom:0em;">{{ top.arquetipo }} - {{ top.nTotal }} TOPS</h5></a>
                                                                </span>
                                                            </div>
                                                            <div *ngIf="topStandard.length==0" class="list-group-item">
                                                                <h5 class="text-danger">No hay datos de Standard en estos momentos</h5>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th colspan="2" class="text-center">&Uacute;ltimos Torneos</th>
                                            </tr>
                                            <tr>
                                                <td colspan="2" class="col-lg-12 text-black-50">
                                                    &nbsp;
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="col-lg-3 text-center">Vintage:</th>
                                                <td class="col-lg-9 text-black-50">
                                                    <ul class="thumbnails thumbnails-1">
                                                        <li class="list-group">
                                                            <div *ngIf="torneosVintage.length>0" class="list-group-item">
                                                                <span *ngFor="let torneo of torneosVintage; let i = index;">
                                                                    <h5><a [routerLink]="['/listadoBarajas','Vintage',torneo.codTorneo]">{{ torneo.nombre }}</a></h5>
                                                                    <h5 style="font-size:0.8em;margin-bottom:0.2em;">({{ torneo.jugadores }} - {{ torneo.fecha*1000 | date: 'dd/MM/yyyy' }})</h5>
                                                                </span>
                                                            </div>
                                                            <div *ngIf="torneosVintage.length==0" class="list-group-item">
                                                                <h5 class="text-danger">No hay datos torneos de Vintage para este mes</h5>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="col-lg-3 text-center">Legacy:</th>
                                                <td class="col-lg-9 text-black-50">
                                                    <ul class="thumbnails thumbnails-1">
                                                        <li class="list-group">
                                                            <div *ngIf="torneosLegacy.length>0" class="list-group-item">
                                                                <span *ngFor="let torneo of torneosLegacy; let i = index;">
                                                                    <h5><a [routerLink]="['/listadoBarajas','Legacy',torneo.codTorneo]">{{ torneo.nombre }}</a></h5>
                                                                    <h5 style="font-size:0.8em;margin-bottom:0.2em;">({{ torneo.jugadores }} - {{ torneo.fecha*1000 | date: 'dd/MM/yyyy' }})</h5>
                                                                </span>
                                                            </div>
                                                            <div *ngIf="torneosLegacy.length==0" class="list-group-item">
                                                                <h5 class="text-danger">No hay datos torneos de Legacy para este mes</h5>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="col-lg-3 text-center">Modern:</th>
                                                <td class="col-lg-9 text-black-50">
                                                    <ul class="thumbnails thumbnails-1">
                                                        <li class="list-group">
                                                            <div *ngIf="torneosModern.length>0" class="list-group-item">
                                                                <span *ngFor="let torneo of torneosModern; let i = index;">
                                                                    <h5><a [routerLink]="['/listadoBarajas','Modern',torneo.codTorneo]">{{ torneo.nombre }}</a></h5>
                                                                    <h5 style="font-size:0.8em;margin-bottom:0.2em;">({{ torneo.jugadores }} - {{ torneo.fecha*1000 | date: 'dd/MM/yyyy' }})</h5>
                                                                </span>
                                                            </div>
                                                            <div *ngIf="torneosModern.length==0" class="list-group-item">
                                                                <h5 class="text-danger">No hay datos torneos de Modern para este mes</h5>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th class="col-lg-3 text-center">Standard:</th>
                                                <td class="col-lg-9 text-black-50">
                                                    <ul class="thumbnails thumbnails-1">
                                                        <li class="list-group">
                                                            <div *ngIf="torneosStandard.length>0" class="list-group-item">
                                                                <span *ngFor="let torneo of torneosStandard; let i = index;">
                                                                    <h5><a [routerLink]="['/listadoBarajas','Standard',torneo.codTorneo]">{{ torneo.nombre }}</a></h5>
                                                                    <h5 style="font-size:0.8em;margin-bottom:0.2em;">({{ torneo.jugadores }} - {{ torneo.fecha*1000 | date: 'dd/MM/yyyy' }})</h5>
                                                                </span>
                                                            </div>
                                                            <div *ngIf="torneosStandard.length==0" class="list-group-item">
                                                                <h5 class="text-danger">No hay datos torneos de Standard para este mes</h5>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                        </thead>
                                    </table>
                                </div>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.col-lg-4 (nested) -->
                        <div class="col-lg-8 ">
                            <div id="morris-bar-chart "></div>
                        </div>
                        <!-- /.col-lg-8 (nested) -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->

    </div>
    <!-- /#page-wrapper -->

</div>

<app-scripts></app-scripts>