<div id="wrapper">
    <!-- Navigation -->
    <app-navbar></app-navbar>
    <!-- /Navigation -->
    <!-- /ControlPanel -->
    <div class="row">
        <div class="col-lg-3">
            <!-- ControlPanel -->
            <app-option [pantalla]="pantalla"></app-option>
            <!-- /.ControlPanel -->
        </div>
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Arquetipo
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="col-lg-12">
                                    <tr>
                                        <td class="col-lg-3">
                                            <a class="navbar-brand" style="font-weight: bold" [ngClass]="{ 'text-success': formato=='Vintage', 'text-black-50': formato!='Vintage' }" [routerLink]="['/torneos','Vintage']">Vintage</a>
                                        </td>
                                        <td class="col-lg-3">
                                            <a class="navbar-brand" style="font-weight: bold" [ngClass]="{ 'text-success': formato=='Legacy', 'text-black-50': formato!='Legacy' }" [routerLink]="['/torneos','Legacy']">Legacy</a>
                                        </td>
                                        <td class="col-lg-3">
                                            <a class="navbar-brand" style="font-weight: bold" [ngClass]="{ 'text-success': formato=='Modern', 'text-black-50': formato!='Modern' }" [routerLink]="['/torneos','Modern']">Modern</a>
                                        </td>
                                        <td class="col-lg-3">
                                            <a class="navbar-brand" style="font-weight: bold" [ngClass]="{ 'text-success': formato=='Standar', 'text-black-50': formato!='Standar' }" [routerLink]="['/torneos','Standard']">Standard</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="4">
                                            <div *ngIf="!loading && !hayBarajas" class="alert alert-danger text-center" role="alert">
                                                <p style="font-weight: bold">No existen resultados con los criterios indicados</p>
                                            </div>
                                        </td>
                                    </tr>
                                </table>

                                <app-loading *ngIf="loading" [texto]=texto></app-loading>

                                <div *ngIf="!loading && hayBarajas">
                                    <table class="col-lg-12" style="width: 100%">
                                        <thead>
                                            <tr class="table">
                                                <th class="text-center" style="width: 30%; border: 1px solid #ddd;">Torneo</th>
                                                <th class="text-center" style="width: 20%; border: 1px solid #ddd;">Arquetipo</th>
                                                <th class="text-center" style="width: 15%; border: 1px solid #ddd;">Nº Jugadores</th>
                                                <th class="text-center" style="width: 15%; border: 1px solid #ddd;">Jugador</th>
                                                <th class="text-center" style="width: 10%; border: 1px solid #ddd;">Posición</th>
                                                <th class="text-center" style="width: 10%; border: 1px solid #ddd;">Completa</th>
                                                <th class="text-center" style="width: 10%; border: 1px solid #ddd;">Fecha</th>
                                            </tr>
                                            <tr>
                                                <td colspan="5" class="text-center">&nbsp;</td>
                                            </tr>
                                        </thead>

                                        <tr *ngFor="let datos of datosArquetipo | paginate: { itemsPerPage: 30, currentPage: page }; let impar = odd;let par = even;">
                                            <td class="text-left" [ngClass]="{ 'nth-child1': par, 'nth-child2': impar }">
                                                <h6><a [routerLink]="['/listadoBarajas', formato, datos.idTorneo]">{{ datos.nombre }}</a></h6>
                                            </td>
                                            <td class="text-center" [ngClass]="{ 'nth-child1': par, 'nth-child2': impar }">
                                                <h6><a [routerLink]="['/cartasBaraja', formato, datos.idTorneo, datos.codigoBaraja]">{{ datos.arquetipo }}</a></h6>
                                            </td>
                                            <td class="text-center" [ngClass]="{ 'nth-child1': par, 'nth-child2': impar }">
                                                <h6><a [routerLink]="['/listadoBarajas', formato, datos.idTorneo]">{{ datos.jugadores }}</a></h6>
                                            </td>
                                            <td class="text-center" [ngClass]="{ 'nth-child1': par, 'nth-child2': impar }">
                                                <h6><a [routerLink]="['/resultados', formato, datos.jugador]">{{ datos.jugador }}</a></h6>
                                            </td>
                                            <td class="text-center" [ngClass]="{ 'nth-child1': par, 'nth-child2': impar, 'text-warning': datos.posicion>8, 'text-success': datos.posicion <= 8, 'text-danger': datos.posicion>16 }" style="font-weight: bold; font-size: 0.8em">
                                                {{ datos.posicion }}
                                            </td>
                                            <td class="text-center" [ngClass]="{ 'nth-child1': par, 'nth-child2': impar }">
                                                <h5><span [ngClass]="{'text-success': datos.cantidadQueFalta===datos.cantidadBaraja, 'text-warning': datos.cantidadQueFalta>=datos.cantidadBaraja-14 && datos.cantidadQueFalta<datos.cantidadBaraja, 'text-danger': datos.cantidadQueFalta<=datos.cantidadBaraja-15 }">{{ datos.cantidadQueFalta }}</span>/
                                                    <span class="text-success">{{ datos.cantidadBaraja }}</span>
                                                </h5>
                                            </td>
                                            <td class="text-center" [ngClass]="{ 'nth-child1': par, 'nth-child2': impar }">
                                                <h6>{{ datos.fecha*1000 | date: 'dd/MM/yyyy' }}</h6>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="7" class="text-center">
                                                <h6>
                                                    <pagination-controls (pageChange)="page = $event"></pagination-controls>
                                                </h6>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.col-lg-4 (nested) -->
                        <div class="col-lg-8">
                            <div id="morris-bar-chart"></div>
                        </div>
                        <!-- /.col-lg-8 (nested) -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->

    </div>
    <!-- /#page-wrapper -->

</div>

<app-scripts></app-scripts>