<div id="wrapper">
    <!-- Navigation -->
    <app-navbar></app-navbar>
    <!-- /Navigation -->
    <!-- /ControlPanel -->
    <div class="row">
        <div class="col-lg-3">
            <!-- ControlPanel -->
            <app-option [pantalla]="pantalla"></app-option>
            <!-- /.ControlPanel -->
        </div>
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Últimos Torneos
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="col-lg-12">
                                    <tr>
                                        <td class="col-lg-3">
                                            <a class="navbar-brand" [ngClass]="{ 'text-success': formato=='Vintage', 'text-black-50': formato!='Vintage' }" [routerLink]="['/torneos','Vintage']">Vintage</a>
                                        </td>
                                        <td class="col-lg-3">
                                            <a class="navbar-brand" [ngClass]="{ 'text-success': formato=='Legacy', 'text-black-50': formato!='Legacy' }" [routerLink]="['/torneos','Legacy']">Legacy</a>
                                        </td>
                                        <td class="col-lg-3">
                                            <a class="navbar-brand" [ngClass]="{ 'text-success': formato=='Modern', 'text-black-50': formato!='Modern' }" [routerLink]="['/torneos','Modern']">Modern</a>
                                        </td>
                                        <td class="col-lg-3">
                                            <a class="navbar-brand" [ngClass]="{ 'text-success': formato=='Standar', 'text-black-50': formato!='Standar' }" [routerLink]="['/torneos','Standard']">Standard</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                                </table>

                                <app-loading *ngIf="loading"></app-loading>

                                <div *ngIf="!loading">
                                    <table class="col-lg-12" style="width: 100%">
                                        <thead>
                                            <tr class="table">
                                                <th class="text-center" style="width: 50%; border: 1px solid #ddd;">Torneo</th>
                                                <th class="text-center" style="width: 35%; border: 1px solid #ddd;">Nº Jugadores</th>
                                                <th class="text-center" style="width: 15%; border: 1px solid #ddd;">Fecha</th>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="text-center">&nbsp;</td>
                                            </tr>
                                        </thead>

                                        <tr *ngFor="let torneo of torneos | paginate: { itemsPerPage: 30, currentPage: page }; let impar = odd;let par = even;">
                                            <td class="text-left" [ngClass]="{ 'nth-child1': par, 'nth-child2': impar }">
                                                <h5><a [routerLink]="['/listadoBarajas', formato, torneo.codTorneo ]">{{ torneo.nombre }}</a></h5>
                                            </td>
                                            <td class="text-center" [ngClass]="{ 'nth-child1': par, 'nth-child2': impar }">
                                                <h5><a [routerLink]="['/listadoBarajas', formato, torneo.codTorneo ]">{{ torneo.jugadores }}</a></h5>
                                            </td>
                                            <td class="text-center" [ngClass]="{ 'nth-child1': par, 'nth-child2': impar }">
                                                <h5><a [routerLink]="['/listadoBarajas', formato, torneo.codTorneo ]">{{ torneo.fecha*1000 | date: 'dd/MM/yyyy' }}</a></h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <p>
                                                    &nbsp;
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="text-center">
                                                <pagination-controls (pageChange)="page = $event"></pagination-controls>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.col-lg-4 (nested) -->
                        <div class="col-lg-8">
                            <div id="morris-bar-chart"></div>
                        </div>
                        <!-- /.col-lg-8 (nested) -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->

    </div>
    <!-- /#page-wrapper -->

</div>

<app-scripts></app-scripts>