<div id="wrapper">
    <!-- Navigation -->
    <app-navbar></app-navbar>
    <!-- /Navigation -->
    <!-- /ControlPanel -->
    <div class="row">
        <div class="col-lg-3">
            <!-- ControlPanel -->
            <app-option [pantalla]="pantalla"></app-option>
            <!-- /.ControlPanel -->
        </div>
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Últimos Torneos
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="col-lg-12">
                                    <tr>
                                        <td class="col-lg-3">
                                            <a class="navbar-brand" style="font-weight: bold" [ngClass]="{ 'text-success': formato=='Vintage', 'text-black-50': formato!='Vintage' }" [routerLink]="['/torneos','Vintage']">Vintage</a>
                                        </td>
                                        <td class="col-lg-3">
                                            <a class="navbar-brand" style="font-weight: bold" [ngClass]="{ 'text-success': formato=='Legacy', 'text-black-50': formato!='Legacy' }" [routerLink]="['/torneos','Legacy']">Legacy</a>
                                        </td>
                                        <td class="col-lg-3">
                                            <a class="navbar-brand" style="font-weight: bold" [ngClass]="{ 'text-success': formato=='Modern', 'text-black-50': formato!='Modern' }" [routerLink]="['/torneos','Modern']">Modern</a>
                                        </td>
                                        <td class="col-lg-3">
                                            <a class="navbar-brand" style="font-weight: bold" [ngClass]="{ 'text-success': formato=='Standar', 'text-black-50': formato!='Standar' }" [routerLink]="['/torneos','Standard']">Standard</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                                </table>

                                <app-loading *ngIf="loading===true" [texto]=texto></app-loading>

                                <div *ngIf="!loading && formato==''">
                                    <table class='col-lg-12'>
                                        <tr>
                                            <th width='30%'>
                                                <p class='text-center'>Metajuegos del Mes</p>
                                            </th>
                                            <th width='70%'>
                                                <p class='text-center'>&Uacute;ltimos Torneos</p>
                                            </th>
                                        </tr>
                                        <tr>
                                            <td class='row align-items-start'>
                                                <table width='95%'>
                                                    <tr>
                                                        <td>
                                                            <ul class="thumbnails thumbnails-1">
                                                                <li class="list-group">
                                                                    <h5 style="display:block;margin-bottom:0.3em;">Vintage</h5>
                                                                    <div *ngIf="barajasVintage!=''" class="list-group-item">
                                                                        <h5 *ngFor="let baraja of barajasVintage; let i = index;">{{ i + 1 }} · <a [routerLink]="['/arquetipo', 'Vintage', baraja]">{{ baraja }}</a></h5>
                                                                    </div>
                                                                    <div *ngIf="barajasVintage==''" class="list-group-item">
                                                                        <h5 class="text-danger">No hay datos de Vintage</h5>
                                                                    </div>
                                                                </li>
                                                                <li class="list-group">
                                                                    <h5 style="display:block;margin-bottom:0.3em;">Legacy</h5>
                                                                    <div *ngIf="barajasLegacy!=''" class="list-group-item">
                                                                        <h5 *ngFor="let baraja of barajasLegacy; let i = index;">{{ i + 1 }} · <a [routerLink]="['/arquetipo', 'Legacy', baraja]">{{ baraja }}</a></h5>
                                                                    </div>
                                                                    <div *ngIf="barajasLegacy==''" class="list-group-item">
                                                                        <h5 class="text-danger">No hay datos de Legacy</h5>
                                                                    </div>
                                                                </li>
                                                                <li class="list-group">
                                                                    <h5 style="display:block;margin-bottom:0.3em;">Modern</h5>
                                                                    <div *ngIf="barajasModern!=''" class="list-group-item">
                                                                        <h5 *ngFor="let baraja of barajasModern; let i = index;">{{ i + 1 }} · <a [routerLink]="['/arquetipo', 'Modern', baraja]">{{ baraja }}</a></h5>
                                                                    </div>
                                                                    <div *ngIf="barajasModern==''" class="list-group-item">
                                                                        <h5 class="text-danger">No hay datos de Modern</h5>
                                                                    </div>
                                                                </li>
                                                                <li class="list-group">
                                                                    <h5 style="display:block;margin-bottom:0.3em;">Standard</h5>
                                                                    <div *ngIf="barajasStandard!=''" class="list-group-item">
                                                                        <h5 *ngFor="let baraja of barajasStandard; let i = index;">{{ i + 1 }} · <a [routerLink]="['/arquetipo', 'Standard', baraja]">{{ baraja }}</a></h5>
                                                                    </div>
                                                                    <div *ngIf="barajasStandard==''" class="list-group-item">
                                                                        <h5 class="text-danger">No hay datos de Standard</h5>
                                                                    </div>
                                                                </li>
                                                            </ul>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                            <td>
                                                <ul class="slides">
                                                    <li class="list-group">
                                                        <div class="torneos_slide_formato">
                                                            <h5 style="display:block;margin-bottom:0.3em;">
                                                                &nbsp;
                                                            </h5>
                                                            <div *ngIf="torneosVintage.length>0" class="list-group-item">
                                                                <span *ngFor="let torneo of torneosVintage; let i = index;">
                                                                    <h5 style="margin:0.1em;"><a [routerLink]="['/listadoBarajas','Vintage',torneo.codTorneo]">{{ torneo.nombre }}</a></h5>
                                                                    <h5 style="font-size:0.8em;margin-bottom:0.2em;">({{ torneo.jugadores }} - {{ torneo.fecha*1000 | date: 'dd/MM/yyyy' }})</h5>
                                                                </span>
                                                            </div>
                                                            <div *ngIf="torneosVintage.length==0" class="list-group-item">
                                                                <h5 class="text-danger">No hay datos torneos de Vintage para este mes</h5>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group">
                                                        <div class="torneos_slide_formato">
                                                            <h5 style="display:block;margin-bottom:0.3em;">
                                                                &nbsp;
                                                            </h5>
                                                            <div *ngIf="torneosLegacy.length>0" class="list-group-item">
                                                                <span *ngFor="let torneo of torneosLegacy; let i = index;">
                                                                    <h5 style="margin:0.1em;"><a [routerLink]="['/listadoBarajas','Legacy',torneo.codTorneo]">{{ torneo.nombre }}</a></h5>
                                                                    <h5 style="font-size:0.8em;margin-bottom:0.2em;">({{ torneo.jugadores }} - {{ torneo.fecha*1000 | date: 'dd/MM/yyyy' }})</h5>
                                                                </span>
                                                            </div>
                                                            <div *ngIf="torneosLegacy.length==0" class="list-group-item">
                                                                <h5 class="text-danger">No hay datos torneos de Legacy para este mes</h5>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group">
                                                        <div class="torneos_slide_formato">
                                                            <h5 style="display:block;margin-bottom:0.3em;">
                                                                &nbsp;
                                                            </h5>
                                                            <div *ngIf="torneosModern.length>0" class="list-group-item">
                                                                <span *ngFor="let torneo of torneosModern; let i = index;">
                                                                    <h5 style="margin:0.1em;"><a [routerLink]="['/listadoBarajas','Modern',torneo.codTorneo]">{{ torneo.nombre }}</a></h5>
                                                                    <h5 style="font-size:0.8em;margin-bottom:0.2em;">({{ torneo.jugadores }} - {{ torneo.fecha*1000 | date: 'dd/MM/yyyy' }})</h5>
                                                                </span>
                                                            </div>
                                                            <div *ngIf="torneosModern.length==0" class="list-group-item">
                                                                <h5 class="text-danger">No hay datos torneos de Modern para este mes</h5>
                                                            </div>
                                                        </div>
                                                    </li>
                                                    <li class="list-group">
                                                        <div class="torneos_slide_formato">
                                                            <h5 style="display:block;margin-bottom:0.3em;">
                                                                &nbsp;
                                                            </h5>
                                                            <div *ngIf="torneosStandard.length>0" class="list-group-item">
                                                                <span *ngFor="let torneo of torneosStandard; let i = index;">
                                                                    <h5 style="margin:0.1em;"><a [routerLink]="['/listadoBarajas','Standard',torneo.codTorneo]">{{ torneo.nombre }}</a></h5>
                                                                    <h5 style="font-size:0.8em;margin-bottom:0.2em;">({{ torneo.jugadores }} - {{ torneo.fecha*1000 | date: 'dd/MM/yyyy' }})</h5>
                                                                </span>
                                                            </div>
                                                            <div *ngIf="torneosStandard.length==0" class="list-group-item">
                                                                <h5 class="text-danger">No hay datos torneos de Standard para este mes</h5>
                                                            </div>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </td>
                                        </tr>
                                    </table>

                                </div>

                                <div *ngIf="!loading && formato!=''">
                                    <table class="col-lg-12" style="width: 100%">
                                        <thead>
                                            <tr class="table">
                                                <th class="text-center" style="width: 50%; border: 1px solid #ddd;">Torneo</th>
                                                <th class="text-center" style="width: 35%; border: 1px solid #ddd;">Nº Jugadores</th>
                                                <th class="text-center" style="width: 15%; border: 1px solid #ddd;">Fecha</th>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="text-center">&nbsp;</td>
                                            </tr>
                                        </thead>

                                        <tr *ngFor="let torneo of torneos | paginate: { itemsPerPage: 30, currentPage: page }; let impar = odd;let par = even;">
                                            <td class="text-left" [ngClass]="{ 'nth-child1': par, 'nth-child2': impar }">
                                                <h5><a target="_blank" [routerLink]="['/listadoBarajas', formato, torneo.codTorneo ]">{{ torneo.nombre }}</a></h5>
                                            </td>
                                            <td class="text-center" [ngClass]="{ 'nth-child1': par, 'nth-child2': impar }">
                                                <h5><a target="_blank" [routerLink]="['/listadoBarajas', formato, torneo.codTorneo ]">{{ torneo.jugadores }}</a></h5>
                                            </td>
                                            <td class="text-center" [ngClass]="{ 'nth-child1': par, 'nth-child2': impar }">
                                                <h5><a target="_blank" [routerLink]="['/listadoBarajas', formato, torneo.codTorneo ]">{{ torneo.fecha*1000 | date: 'dd/MM/yyyy' }}</a></h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <p>
                                                    &nbsp;
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3" class="text-center">
                                                <h5>
                                                    <pagination-controls (pageChange)="page = $event"></pagination-controls>
                                                </h5>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.col-lg-4 (nested) -->
                        <div class="col-lg-8">
                            <div id="morris-bar-chart"></div>
                        </div>
                        <!-- /.col-lg-8 (nested) -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->

    </div>
    <!-- /#page-wrapper -->

</div>

<app-scripts></app-scripts>