<div id="wrapper">
    <!-- Navigation -->
    <app-navbar></app-navbar>
    <!-- /Navigation -->
    <!-- /ControlPanel -->
    <div class="row">
        <div class="col-lg-3">
            <!-- ControlPanel -->
            <app-option [pantalla]="pantalla"></app-option>
            <!-- /.ControlPanel -->
        </div>
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Listado de barajas
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <table class="col-lg-12">
                                    <tr>
                                        <td class="col-lg-4">
                                            <a class="navbar-brand text-danger" [routerLink]="['/torneos', formato]"><i class="material-icons text-danger">reply</i>Volver al formato</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            &nbsp;
                                        </td>
                                    </tr>
                                </table>

                                <app-loading *ngIf="cargandoPagina"></app-loading>

                                <div *ngIf="!cargandoPagina">
                                    <table class="col-lg-12" style="width: 100%">
                                        <thead>
                                            <tr class="table">
                                                <th class="text-center" style="width: 35%; border: 1px solid #ddd;">Torneo</th>
                                                <th class="text-center" style="width: 20%; border: 1px solid #ddd;">Arquetipo</th>
                                                <th class="text-center" style="width: 25%; border: 1px solid #ddd;">Jugador</th>
                                                <th class="text-center" style="width: 10%; border: 1px solid #ddd;">Posición</th>
                                                <th class="text-center" style="width: 10%; border: 1px solid #ddd;">Completa</th>
                                            </tr>
                                            <tr>
                                                <td colspan="3" class="text-center">&nbsp;</td>
                                            </tr>
                                        </thead>

                                        <tr *ngFor="let baraja of barajas; let impar = odd;let par = even;">
                                            <td class="text-left" [ngClass]="{ 'nth-child1': par, 'nth-child2': impar }">
                                                <h5><a [routerLink]="['/listadoBarajas', formato, baraja.idTorneo ]">{{ baraja.nombre }}</a></h5>
                                            </td>
                                            <td class="text-center" [ngClass]="{ 'nth-child1': par, 'nth-child2': impar }">
                                                <h5><a [routerLink]="['/cartasBaraja', formato, baraja.idTorneo, baraja.codigoBaraja ]">{{ baraja.arquetipo }}</a></h5>
                                            </td>
                                            <td class="text-center" [ngClass]="{ 'nth-child1': par, 'nth-child2': impar }">
                                                <h5><a [routerLink]="['/resultados', formato, baraja.jugador ]">{{ baraja.jugador }}</a></h5>
                                            </td>
                                            <td class="text-center" [ngClass]="{ 'nth-child1': par, 'nth-child2': impar }">
                                                <h5><a [ngClass]="{ 'text-warning': baraja.posicion>8, 'text-success': baraja.posicion<=8, 'text-danger': baraja.posicion>16 }" [routerLink]="['/cartasBaraja', formato, baraja.idTorneo, baraja.codigoBaraja ]">{{ baraja.posicion }}</a></h5>
                                            </td>
                                            <td class="text-center" [ngClass]="{ 'nth-child1': par, 'nth-child2': impar }">
                                                <h5><span [ngClass]="{'text-success': baraja.cantidadQueFalta===baraja.cantidadBaraja, 'text-warning': baraja.cantidadQueFalta>=baraja.cantidadBaraja-14 && baraja.cantidadQueFalta<baraja.cantidadBaraja, 'text-danger': baraja.cantidadQueFalta<=baraja.cantidadBaraja-15 }">{{ baraja.cantidadQueFalta }}</span>/
                                                    <span class="text-success">{{ baraja.cantidadBaraja }}</span>
                                                </h5>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <p>
                                                    &nbsp;
                                                </p>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.col-lg-4 (nested) -->
                        <div class="col-lg-8">
                            <div id="morris-bar-chart"></div>
                        </div>
                        <!-- /.col-lg-8 (nested) -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->

    </div>
    <!-- /#page-wrapper -->

</div>

<app-scripts></app-scripts>