<div id="wrapper">
    <!-- Navigation -->
    <app-navbar></app-navbar>
    <!-- /Navigation -->
    <!-- /ControlPanel -->
    <div class="row">
        <div class="col-lg-3">
            <!-- ControlPanel -->
            <app-option [pantalla]="pantalla"></app-option>
            <!-- /.ControlPanel -->
        </div>
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    Mi Colección
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="table-responsive">
                                <div *ngIf="!loading">
                                    <table class="col-lg-12">
                                        <tr>
                                            <td class="col-lg-4">
                                                <a class="navbar-brand text-success" [routerLink]="['/coleccion']"><i class="fa fa-plus-circle fa-fw"></i> Añadir cartas a colección</a>
                                            </td>
                                            <td class="col-lg-4">
                                                <a class="navbar-brand text-black-50" [routerLink]="['/gestionarColeccion']"><i class="fa fa-pencil"></i> Gestionar colección</a>
                                            </td>
                                            <td class="col-lg-4">
                                                <a class="navbar-brand text-black-50" [routerLink]="['/datosColeccion']"><i class="fa fa-pie-chart"></i> Datos de colección</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div *ngIf="!formularioRelleno && !loading">
                                    <div *ngIf="guardadoCorrectamente == true" class="text-success text-center">
                                        Las cartas se han añadido correctamente a tu colección.
                                        <div>
                                            &nbsp;
                                        </div>
                                    </div>
                                    <form [formGroup]="forma2" (ngSubmit)="guardarCambios()" novalidate="novalidate">
                                        <table style="width:100%">
                                            <thead>
                                                <tr>
                                                    <td colspan="2" class="col-lg-12 text-black-50">
                                                        <hr>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="col-lg-4 text-center">Nombre:</th>
                                                    <td class="col-lg-8 text-black-50">
                                                        <input type="text" class="form-control" formControlName="nombre" placeholder="Nombre de la carta">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" class="col-lg-12 text-black-50">
                                                        <hr>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="col-lg-4 text-center">Color:</th>
                                                    <td class="col-lg-8 text-black-50">
                                                        <select class="form-control" multiple="multiple" size="5" formControlName="colors">
                                                            <option value="U">Azul</option>
                                                            <option value="W">Blanco</option>
                                                            <option value="B">Negro</option>
                                                            <option value="R">Rojo</option>
                                                            <option value="G">Verde</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" class="col-lg-12 text-black-50">
                                                        <hr>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="col-lg-4 text-center">Edición:</th>
                                                    <td class="col-lg-8 text-black-50">
                                                        <select class="form-control" formControlName="edicion">
                                                            <option *ngFor="let edicion of edicionesCartas[0]" value="{{ edicion.idExpansion }}">
                                                                {{ edicion.en }}
                                                            </option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" class="col-lg-12 text-black-50">
                                                        <hr>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="col-lg-4 text-center">Coste Maná Convertido:</th>
                                                    <td class="col-lg-8 text-black-50">
                                                        <input type="number" formControlName="cmc" step="1" min="0" max="20">
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" class="col-lg-12 text-black-50">
                                                        <hr>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="col-lg-4 text-center">Rareza:</th>
                                                    <td class="col-lg-8 text-black-50">
                                                        <select class="form-control" formControlName="rarity">
                                                            <option value="Mythic Rare">Rara Mítica</option>
                                                            <option value="mythic">Mítica</option>
                                                            <option value="rare">Rara</option>
                                                            <option value="uncommon">Infrecuente</option>
                                                            <option value="common">Común</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2" class="col-lg-12 text-black-50">
                                                        <hr>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="col-lg-4 text-center">Tipo:</th>
                                                    <td class="col-lg-8 text-black-50">
                                                        <select class="form-control" formControlName="tipo">
                                                            <option *ngFor="let tipo of tipos" value="{{ tipo.nombre }}">
                                                            {{ tipo.nombre }}
                                                            </option>
                                                        </select>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th class="col-lg-4 text-center">Subtipo:</th>
                                                    <td class="col-lg-8 text-black-50">
                                                        <select class="form-control" formControlName="subtipo">
                                                            <option *ngFor="let subtipo of subtipos" value="{{ subtipo.nombre }}">
                                                            {{ subtipo.nombre }}
                                                            </option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </thead>
                                        </table>
                                        <BR>
                                        <div class="form-group row">
                                            <div class="input-group col-md-12 text-center">
                                                <button type="submit" class="btn btn-outline-primary">
                                                    Buscar Cartas
                                                </button>
                                            </div>
                                        </div>
                                    </form>
                                </div>

                                <app-loading *ngIf="loading"></app-loading>

                                <div *ngIf="formularioRelleno && !loading">
                                    <table class="col-lg-12">
                                        <tr>
                                            <td class="col-lg-4">
                                                <a class="navbar-brand text-danger" [routerLink]="" (click)="reseteaBusqueda();"><i class="material-icons text-danger">reply</i>Nueva Búsqueda</a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </table>
                                    <table class="col-lg-12 table-fixed">
                                        <thead>
                                            <tr class="table">
                                                <th class="text-center" style="border: 1px solid #ddd;">Edición</th>
                                                <th class="text-center" style="border: 1px solid #ddd;">Carta</th>
                                                <th class="text-center" style="border: 1px solid #ddd;">Nombre</th>
                                                <th class="text-center" style="border: 1px solid #ddd;">Tipo</th>
                                                <th class="text-center" style="border: 1px solid #ddd;">Coste</th>
                                                <th class="text-center" style="border: 1px solid #ddd;">Tendencia</th>
                                                <th class="text-center" style="border: 1px solid #ddd;">Añadir a colección</th>
                                            </tr>
                                            <tr>
                                                <td>&nbsp;</td>
                                            </tr>
                                        </thead>

                                        <tr *ngFor="let carta of cartasColeccion | paginate: { itemsPerPage: 25, currentPage: page }; let i = index;">
                                            <td class="text-center align-middle small"><i class="ss ss-{{ carta.icon }} ss-2x ss-{{ carta.rarity }}"></i></td>
                                            <td class="text-center">
                                                <!--<img src="{{ carta.imagen }}" >-->
                                            </td>
                                            <td class="text-center align-middle small">
                                                <a [routerLink]="" (click)="redireccionExterna(carta.scryfallUri)">{{ carta.name }}</a>
                                            </td>
                                            <td class="text-center align-middle small">
                                                {{ carta.type | tipoCarta }}
                                            </td>
                                            <td class="text-center align-middle small">
                                                <span *ngIf="isNumber(carta.manaCostWeb)"><i class="ms ms-{{ carta.manaCostWeb }} ms-cost ms-shadow"></i></span>
                                                <span *ngIf="!isNumber(carta.manaCostWeb)"><i *ngFor="let coste of carta.manaCostWeb.split(' ');" class="ms ms-{{ coste }} ms-cost ms-shadow"></i></span>
                                            </td>
                                            <td class="text-center align-middle small">
                                                <app-modal-tendencia [id]=carta.productId></app-modal-tendencia>
                                            </td>
                                            <td class="text-center align-middle">
                                                <app-modal-coleccion [id]=carta.productId></app-modal-coleccion>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                        <tr>
                                            <td colspan="6" class="text-center">
                                                <pagination-controls (pageChange)="page = $event"></pagination-controls>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.col-lg-4 (nested) -->
                        <div class="col-lg-8">
                            <div id="morris-bar-chart"></div>
                        </div>
                        <!-- /.col-lg-8 (nested) -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-8 -->

    </div>
    <!-- /#page-wrapper -->

</div>

<app-scripts></app-scripts>